html,
body {
  height: 100%;

  letter-spacing: 2px;
  font-family: 'Cabin', sans-serif;
}

/* Title */
h1 {
  color: #45458F;

  font-family: 'PT Serif', serif;
  font-weight: bolder;
  font-size: 70px;
  letter-spacing: 3px;
  font-style: italic;
}

/* a second year BSc. */
h2 {
  color: #393939;

  font-family: 'Cabin', sans-serif; 
  font-size: 15px;
  line-height: 2;
  letter-spacing: 1px;
}

/* Project Titles on Index */
h3 {
  color: #000;

  font-family: 'Cabin', sans-serif; 
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
}

/* Project Title */
h4 {
  color: #45458F;

  font-family: 'PT Serif', serif;
  font-style: italic;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 3px;
}

/* Project Headings (PROJECT, TYPE, SKILLS) */
h5 {
  color: #393939;

  font-family: 'Cabin', sans-serif;
  font-size: 10px;
  line-height: 1.8;
  letter-spacing: 1px;
}

/* Project Subheadings */
h6 {
  color: #45458F;

  font-family: 'Cabin', sans-serif; 
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
}

/* Body Fonts */
p {
  color: #393939;

  font-family: 'Cabin', sans-serif; 
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

/* unvisited links*/
a:link {
  font-family: 'Cabin';
  letter-spacing: 1px;
  text-decoration: none;
  color: #393939;
}

a:hover {
  font-family: 'Cabin';
  letter-spacing: 1px;
  text-decoration: none;
  color: transparent;
}

/* visited links*/
a:visited {
  font-family: 'Cabin';
  letter-spacing: 1px;
  color: #393939;
  text-decoration: none;
}

.indent {
  margin-left: 40px;
}

/*------------------------
  Helper css
--------------------------*/
.body-pad {
  padding: 0 40px;
}

.spad {
  padding: 100px 0;
}

.pt100 {
  padding-top: 100px;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
}

.section-title {
  font-size: 60px;
}

.section-title span {
  color: #979797;
}

/*------------------------
  Common Elements
--------------------------*/
.element {
  margin-bottom: 100px;
}

.element:last-child {
  margin-bottom: 0;
}

/*=== Buttons ===*/
.site-btn {
  display: inline-block;
  min-width: 140px;
  padding: 15px 10px;
  position: relative;
  color: #fff;
  border: none;
  background-color: #45458F;
  margin-right: 15px;
  z-index: 1;
  cursor: pointer;
  
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
}

/*------------------------
    Header Section
--------------------------*/
.header-section {
  padding-top: 30px;
  padding-bottom: 20px;
}

.logo {
  margin-left: 20px;
}

.main-menu ul {
  list-style: none;
  text-align: right;
}

.main-menu ul li {
  display: inline;
}

.main-menu ul li a {
  display: inline-block;
  font-size: 15px;
  color: #393939;
  margin-left: 15px;
  margin-right: 10px;
  padding: 20px 0 5px;
}

.main-menu a:link {
  font-family: 'Cabin';
    text-decoration: none;
    color: #393939;
}

.main-menu a:hover {
  font-family: 'Cabin';
    text-decoration: none;
    color: transparent;
}

.main-menu a:visited {
  font-family: 'Cabin';
  color: #393939;
  text-decoration: none;
}

.nav-switch {
  display: none;
  margin-right: 20px;
}

/*------------------------
    Intro Section
--------------------------*/
.intro-section {
  padding: 110px 0;
  margin-bottom:30px;
}

/*------------------------
    Portfolio Section
--------------------------*/
.portfolio-section {
  overflow: hidden;
}

.portfolio-item {
  width: 100%;
  height: 500px;
  background-position: center center;
  margin-bottom: 30px;

  display: block;
}

.portfolio-item .pi-inner {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.portfolio-item .pi-inner h3 {
  color: #45458F;
  text-transform: uppercase;

  opacity: 0;
}

.portfolio-item .pi-inner p {
  font-style: italic;
  font-size: 12px;

  opacity: 0;
}

.portfolio-item:hover .pi-inner {
  background: rgba(255, 255, 255, 0.5);
}

.portfolio-item:hover .pi-inner h3 {
  opacity: 1;
  text-align: center;

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio-item:hover .pi-inner p {
  opacity: 1;
  font-style: italic;
  font-size: 12px;
  
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*------------------------
    Footer Section
--------------------------*/
.footer-section {
  padding: 65px 0;
}

.footer-section .copyright {
  font-size: 12px;
  color: #979797;
}

.social-links {
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-links a {
  margin-right: 30px;
}

.social-links a:last-child {
  margin-right: 0;
}

/*------------------------
    Project Page
--------------------------*/
.blog-item {
  margin-top: 30px;
}

/*------------------------
    About Page
--------------------------*/
.pic-frame {
  position: relative;
  padding-top: 25px;
  padding-bottom: 15px;
  display: inline-block;
}

.about-section {
  margin-left: 20px;
  margin-right: 20px;
}

/*------------------------
    Contact Page
--------------------------*/
.contact-text {
  text-align: center;
  margin-bottom: 70px;
}

.contact-text h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.contact-text p {
  font-size: 17px;
}

.contact-form {
  display: block;
  width: 100%;
}

.contact-form input {
  padding-left: 25px;
  height: 60px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #000;
  margin-bottom: 30px;
  font-size: 14px;
}

.contact-form textarea {
  padding-left: 25px;
  height: 200px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #000;
  margin-bottom: 30px;
  font-size: 14px;
}

.contact-form ::-webkit-input-placeholder {
  font-style: italic;
  letter-spacing: 1px;
}

.contact-form :-ms-input-placeholder {
  font-style: italic;
  letter-spacing: 1px;
}

.contact-form ::-ms-input-placeholder {
  font-style: italic;
  letter-spacing: 1px;
}

.contact-form ::placeholder {
  font-style: italic;
  letter-spacing: 1px;
}

/* ===========================
  Responsive
==============================*/
@media only screen and (max-width: 1448px) {
  .home-2.container {
    width: auto;
  }
}

/* Medium screen : 992px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .portfolio-item {
    height: 450px;
  }
}

/* Tablet :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .body-pad {
    padding: 0 30px;
  }
  .portfolio-item {
    height: 350px;
  }
}

/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
  .body-pad {
    padding: 0 15px;
  }
  .main-menu {
    /* position: absolute; */
    background: #fff;
    width: 100%;
    z-index: 999;
    display: none;
  }
  .main-menu ul li a {
    padding: 10px 15px;
    text-align: center;
    /* border-bottom: 1px solid #ddd; */
    display: block;
  }
  .main-menu ul li {
    display: block;
  }
  .main-menu ul li:last-child a {
    border-bottom: none;
  }
  .nav-switch {
    position: absolute;
    right: 25px;
    font-size: 30px;
    color: #333;
    top: 35px;
    display: block;
  }
  .header-btn {
    display: none;
  }
  .portfolio-item {
    height: 270px;
  }
  .section-title {
    font-size: 45px;
  }
}

/* small Mobile :320px. */
@media only screen and (max-width: 479px) {
  .section-title {
    font-size: 30px;
  }
}