@import url(https://fonts.googleapis.com/css?family=Roboto%20Mono);
@import url(https://fonts.googleapis.com/css?family=Merriweather);

/*-----------------Global-----------------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: Roboto Mono, sans-serif;
    height: 100%;
}
 
body {
    width: 63%;
    margin: auto;
    background-color: #FCF8EC;

    min-height: 100%;

    display: flex;
    flex-direction: column;
}

h1 {
    color: #45458F;

    font-family: Merriweather; 
    font-size: 70px;
    font-style: normal; 
    font-variant: normal; 
}

h2 {
    color: #45458F;

    margin-top: 10px;
    font-family: Roboto Mono;
    font-size: 17px;
    word-spacing: 3px;
    line-height: 30px;
}

h3 {
    color: #45458F;

    font-family: Roboto Mono;
    font-size: 17px;
    word-spacing: 3px;
    line-height: 30px;
}

h4 {
    color: #45458F;

    font-family: Merriweather;
    font-size: 40px;
}


h5 {
    color: #45458F;

    font-family: Roboto Mono;
    font-size: 10px;
}

p {  
    color: #45458F;

    font-family: Roboto Mono;
    font-size: 13px;
    font-weight: 1;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 20px;
}

/*-----------------Header-----------------*/

.header {
    display: flex;
    align-items: center;
    height: 160px;  
}

.S, .etc {
    flex: 1;
}

.etc {
    text-align: right
}

.etc a, .S img {
    display: inline-block;
    vertical-align: middle;
}

.etc a {
    margin-left: 40px;
}

.S img {
    margin-right: 10px;
}

/* unvisited links*/
a:link {
    font-family: Roboto Mono;
    text-decoration: none;
    color: #45458F;
}

a:hover {
    font-family: Roboto Mono;
    text-decoration: none;
    color: transparent;
}

/* visited links*/
a:visited {
    font-family: Roboto Mono;
    color: #45458F;
    text-decoration: none;
}

/*-----------------Home-----------------*/

.home {
    position: relative;
    overflow: hidden;
}

.homeWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.homeL {
    margin-top: 4em;
    width: 540px;
}

/*-----------------Landing-----------------*/

.about {
    position: relative;
    overflow: hidden;
}

.aboutR {
    width: 600px;
    margin-left: 300px;
    margin-bottom: 30px;
}

/*-----------------Projects-----------------*/

.projects {
    position: relative;
    overflow: hidden;
}

.project {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}


.projectL {
    margin-right: 30px;
}

.link {
    border: 1px solid #45458F;
    width: 120px;
    height: auto;
    padding: 10px;
    
}

/*-----------------Contacts-----------------*/

.footer {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    margin-top: auto;
}

.links, .copyrights {
    flex: 1;
}

.links a {
    margin-right: 15px;
}

.copyrights {
    text-align: right;
}

.links a, .copyrights {
    display: inline-block;
    vertical-align: middle;
}
